.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #121212;
  color: white;
  padding: 20px;
  font-size: 16px;
}

.footer-column {
  flex: 1;
  margin: 0 10px;
}

.link-container {
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.Link {
  color: white;
  text-decoration: none;
}

.Link svg {
  fill: white;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
  }

  .footer-column {
    margin: 10px 0;
  }

  .link-container {
    flex-direction: row;
    justify-content: space-between;
  }
}
