.Title{

    text-align: center;
    margin-top: 5vh;
    font-size: 3rem;
    font-weight: bold;
}
.MainPage-Project{
    min-height: 90vh;
}
.fancyText{
    transform: scale(1.05);
    background-image: linear-gradient(to left, #9045A0, #B27FD7, #D4A8FF, #EAC9FF, #EAC9FF, #D4A8FF, #B27FD7, #9045A0);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 4s linear infinite;
}



.textboxProjects {
    margin-top: 5vh;
    background: url(https://firebasestorage.googleapis.com/v0/b/portfolio-dbischof.appspot.com/o/svg%2FtextboxBG.svg?alt=media&token=a121e849-7979-45b3-8f74-7edd4abeddcc) center no-repeat ;
    background-size: cover; 
  }
  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

}
  .flex-container .textboxProjects {
    width: 300px; 
    margin-left: 0;
    margin-right: 0;
  }
  #WelcomeProjects{
    width: 60vw;
    margin: 0 auto;
    margin-top: 5vh;
  }
  @media (max-width: 1200px) {
    .flex-container .textboxProjects{
        width: 400px; 
    }
    #WelcomeProjects{
      width: 400px; 

    }
  }
  @media (min-width: 2000px) {
    .flex-container .textboxProjects{
        width: 20vw; 
    }
  }
@keyframes shine {
    to {
      background-position: 200% center;
    }
  }


.WishlingoPart{
  background-color: #9045A0;
}
.NaturalAquaticsPart{
  background-color: #B27FD7;
}


















  .WaveWhislingoTop {
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin-top: 50px;
    background-color: #9045A0;
}

.WaveWhislingoTop svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.WaveWhislingoTop .shape-fill {
    fill: #121212;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .WaveWhislingoTop svg {
        width: calc(138% + 1.3px);
        height: 108px;
    }
}



.WaveNaturalWishlingo {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  background-color: #B27FD7;
}

.WaveNaturalWishlingo svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.WaveNaturalWishlingo .shape-fill {
  fill: #9045A0;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .WaveNaturalWishlingo svg {
      width: calc(197% + 1.3px);
      height: 108px;
  }
}

.custom-shape-divider-top-1693778535 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1693778535 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1693778535 .shape-fill {
  fill: #B27FD7;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1693778535 svg {
      width: calc(197% + 1.3px);
      height: 257px;
  }
}